*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/gradle.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/compiler.xml
/hs_err_pid9936.log
/hs_err_pid10068.log
/hs_err_pid12776.log
/.idea/inspectionProfiles/Project_Default.xml
/replay_pid12776.log
